# Ignore my secrets, but leave the directory structure
secrets/*
!secrets/.gitkeep
!secrets/terraform.tfvars.template

# Don't include drivers
.terraform

# Unnecessary specific details
ip_address
**/*.tfstate*
