# Ignore my secrets, but leave the directory structure
terraform/secrets/*
!terraform/secrets/.gitkeep
!terraform/secrets/terraform.tfvars.template

# Don't include drivers
terraform/.terraform

# Unnecessary specific details
terraform/ip_address
**/*.tfstate*
